*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}



.overflow{
    overflow: auto;
}

.nowrap{
    flex-wrap: nowrap;
}

.overflow::-webkit-scrollbar {
    height: 10px;
}

.overflow::-webkit-scrollbar-thumb {
    background: rgb(145, 145, 144); 
    border-radius: 5px;
  }


.overflow {
   } 